.PostCard-Container{
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* backdrop-filter: blur(4px); */
}

.PostCard{
    margin: auto;
    width: 95%;
    max-height: 100%;
    background-color: rgba(251, 248, 248, 0.989);
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
 
#PostCardTitle{
    margin-left: 2rem;
    color: rgb(73, 73, 74);
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
}

.Post-Card-Content{
    text-align: center;
    margin: 2rem;
    max-width: 100%;
    max-height: 100%;
}

#PostCardContent{
    color: rgb(73, 73, 74);
    font-family: 'Oswald', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
}

.Post-Card-User{
    margin-left: auto;
    margin-right: 5rem;
    float: right;
}

#PostCardUser{
    color: rgb(73, 73, 74);
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    font-weight: 350;
}

.Post-Card-Close{
    margin-right: auto;
    margin-left: 2rem;
    float: left;
    margin-bottom: 1rem;
}
#PostCardClose{
    cursor: pointer;
    background-color: rgba(202, 202, 202, 0);
    outline: none;
    border: none;
    color: rgb(73, 73, 74);
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
}

@media screen and (max-width: 600px){
    #PostCardTitle{
        margin-left: 1rem;
        font-size: 1.5rem;
    }
    .Post-Card-Content{
        margin: 1rem;
    }
    #PostCardContent{
        font-size: 1rem;
        overflow: scroll;
    }
    .Post-Card-User{
        margin-right: 1rem;
    }
    #PostCardUser{
        font-size: 0.8rem;
    }
    .Post-Card-Close{
        margin-left: 1rem;
    }
}